body {
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: 'Press Start 2P', monospace; 
}

button{
    cursor: pointer;
    border: none;
    font-family: 'Press Start 2P', monospace;
}

span{
    display: flex;
    align-items: center;   
    margin: 0;
    padding: 0;
}

.game-fundo {
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 95%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 2.5%;
    text-align: center;
    padding-top: 5px;
}

.imagem {
    width: 90%;
    height: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 37.5%;
}

.display-none {
    display: none;
}

.minerar {
    border: 1px solid #3d3d3d;
    background-color: #7d7d7d;    
    width: 30%;
    height: 20%;
    position: absolute;
    left: 65%;
    top: 73.75%;
    font-size: 1.5em;
    border-radius: 25%;
    box-shadow: 0 4px #3d3d3d;  
}

.comprar1 {
    border: 1px solid #3d3d3d;
    background-color: rgb(218, 212, 123);
    width: 30%;
    height: 10%;
    position: absolute;
    left: 5%;
    top: 72.5%;
    font-size: 1em;
    text-align: center;
    border-radius: 25%;
    box-shadow: 0 4px #3d3d3d;  
}

.comprar2 {
    border: 1px solid #3d3d3d;
    background-color: rgb(210, 123, 218);
    width: 30%;
    height: 10%;
    position: absolute;
    left: 5%;
    top: 85%;
    font-size: 1em;
    border-radius: 25%;
    box-shadow: 0 4px #3d3d3d;  
}

.custo1 {
    width: 30%;
    height: 10%;
    position: absolute;
    left: 35%;
    top: 72.5%;
    font-size: 0.75em;
    margin-left: 5px;
}

.custo2 {   
    width: 30%;
    height: 10%;
    position: absolute;
    left: 35%;
    top: 85%;
    font-size: 0.75em;
    margin-left: 5px;
}

.cristal {
    font-size: 1.5em;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center; 
    align-items: center;   
}