body {
    background-color: rgb(43, 43, 43);
}

button{
    cursor: pointer;
    border: none;
    transition: all 0.1s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

button:active {
    box-shadow: 0 1px #3d3d3d;
    transform: translateY(3px);
  }

span{
    display: flex;
    align-items: center;   
    margin: 0;
    padding: 0;
}

.game-fundo {
    background: linear-gradient(90deg, #ada8a8, #8f8e8e);
    width: 95%;
    height: 95%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 2.5%;
    text-align: center;
    padding-top: 10px;
    box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.4),         
    inset -5px -5px 10px #b9b9b9,          
    inset 5px 5px 10px #6e6e6e;   
}

.imagem {
    width: 90%;
    height: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 37.5%;
    border: 3px solid #000000;
}

.display-none {
    display: none;
}

.minerar {
    font-weight: bolder;
    border: 0px solid #3d3d3d;
    background: linear-gradient(145deg, #8f8f8f, #818181a9); 
    width: 30%;
    height: 20%;
    position: absolute;
    left: 65%;
    top: 73.75%;
    font-size: 1.5em;
    border-radius: 25%;
    box-shadow: 0 4px #242424;  
}

.comprar1 {
    font-weight: bolder;
    background: linear-gradient(145deg, #8f8f8f, #818181a9); 
    border: 0px solid #3d3d3d;
    width: 30%;
    height: 10%;
    position: absolute;
    left: 5%;
    top: 72.5%;
    font-size: 1em;
    text-align: center;
    border-radius: 25%;
    box-shadow: 0 4px #242424;  
}

.comprar2 {
    font-weight: bolder;
    border: 0px solid #3d3d3d;
    background: linear-gradient(145deg, #8f8f8f, #818181a9); 
    width: 30%;
    height: 10%;
    position: absolute;
    left: 5%;
    top: 85%;
    font-size: 1em;
    border-radius: 25%;
    box-shadow: 0 4px #242424;   
}

.custo1 {
    font-weight: bolder;
    width: 30%;
    height: 10%;
    position: absolute;
    left: 35%;
    top: 72.5%;
    font-size: 0.75em;
    margin-left: 5px;
}

.custo2 {
    font-weight: bolder;   
    width: 30%;
    height: 10%;
    position: absolute;
    left: 35%;
    top: 85%;
    font-size: 0.75em;
    margin-left: 5px;
}

.cristal {
    font-weight: bolder;
    font-size: 1.5em;
    display: flex;
    justify-content: center; 
    align-items: center;   
}