body {
    background-color: rgb(43, 43, 43);
    color: white;
}

button{
    cursor: pointer;
    border: none;
}

span{
    display: flex;
    align-items: center;   
    margin: 0;
    padding: 0;
}

.game-fundo {
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 95%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 2.5%;
    text-align: center;
    padding-top: 5px;
}

.imagem {
    width: 90%;
    height: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 37.5%;
}

.display-none {
    display: none;
}

.minerar {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 20%;
    position: absolute;
    left: 65%;
    top: 73.75%;
    font-size: 1.5em;
}

.comprar1 {
    background-color: rgb(255, 255, 255);
    width: 15%;
    height: 10%;
    position: absolute;
    left: 5%;
    top: 72.5%;
    font-size: 1em;
    text-align: center;
}

.comprar2 {
    background-color: rgb(255, 255, 255);
    width: 15%;
    height: 10%;
    position: absolute;
    left: 5%;
    top: 85%;
    font-size: 1em;
   
}

.custo1 {
    width: 30%;
    height: 10%;
    position: absolute;
    left: 20%;
    top: 72.5%;
    font-size: 1em;
    margin-left: 5px;
}

.custo2 {   
    width: 30%;
    height: 10%;
    position: absolute;
    left: 20%;
    top: 85%;
    font-size: 1em;
    margin-left: 5px;
}

.cristal {
    font-size: 2em;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center; 
    align-items: center;   
}